.wrapper {
  color: #ddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.links {
  grid-column: 1;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-line {
  margin: 0.2em;
  display: block;
  height: 0.08em;
  background-color: #888;
}

ul.link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  text-align: left;
  font-size: 1em;
  border: none;
  border-radius: 0.4em;
  color: #ddd;
  background-color: #444;
  width: 100%;
  padding: 0.3em 0.6em;
  transition: 0.2s ease-in;
}

button.navigation {
  height: 100%;
}

button.navigation:hover {
  background-color: #333;
}

.profile {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

button.contact {
  height: 1.8em;
  align-self: flex-end;
  flex-shrink: 1;
}

button.contact:hover {
  background-color: #333;
}

.socials {
  grid-column: 3;
}

p.contact1 {
  font-size: 1.2em;
  margin: 0.2em;
  padding: 0.2em;
  flex-grow: 1;
}

p.contact2 {
  font-size: 1em;
  margin: 0em 0.2em;
  padding: 0.3em;
  flex-shrink: 1;
}