.wrapper {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: calc(100vh - 12em);
}

.message-wrapper {
  margin: 0em 1em;
}

.form-wrapper {
  box-sizing: border-box;
  padding: 1em 1.5em;
  margin: 0em 1em;
  box-shadow: 0px 0px 10px #999;
  border-radius: 0.6em;
  width: 20em;
  display: flex;
  flex-direction: column;
}

.small-input {
  margin: 0.3em;
  flex: 0 1 auto;
}

.large-input {
  margin: 0.3em;
  flex: 1 0 auto;
}

.label {
  text-align: left;
  display: block;
  color: #777;
}

textarea.message {
  height: calc(100% - 1.6em);
  resize: none;
  overflow: auto;
  padding: 0.6em 0.4em;
}

input[type="text"],
input[type="email"] {
  padding: 0.4em;
}

input[type="text"],
input[type="email"],
textarea {
  margin: 0.2em 0em;
  border-radius: 0.6em;
  border: 2px solid #eee;
  background-color: #eee;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #444;
}

.submit {
  border-radius: 0.6em;
  font-size: 0.8em;
  width: 40%;
}

.highlight {
  border-color: red !important;
}
.highlight:focus {
  box-shadow: 0 0 5px red !important;
}